/**
div {
  border: 1px solid red;
}
*/

body {
  margin: 0;
}

html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;

  text-align: center;
}

a, a:link, a:visited {
  text-decoration: underline;
  color: seashell;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 10px;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  background-color: black;

  position: fixed;
  z-index: 1;
  height: 69px;
  width: 100%;

  border-bottom: 1px solid seashell;
}

.logo {
  padding-right: 10px;
  height: 50px;
}

header nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 10px;
}

header .nav {
  display: inline-block;
  padding: 20px 10px;
}

.main {

  padding-top: 69px;
  width: 1200px;
  margin: auto;
  opacity: 0.9;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#mission {
  height: 700px;
  padding-top: 70px;
  background-image: url("../images/img-mission-background.jpg");
}

#mission .content {
  background-color: black;
  margin: auto;
  width: 100%;
}

#tea {
  width: 1000px;
  height: 700px;
  padding-top: 70px;
  margin: auto;
}

.item {
  padding: 5px;
}
.item img {
  height: 200px;
  margin: 10px;
  display: block;
}

.item span {
  padding: 5px;
  text-align: center;
  display: block;
}

#locations {
  height: 500px;
  padding-top: 70px;
  background-image: url("../images/img-locations-background.jpg");
}

.locations .flex-container {
  width: 1200px;
  margin: auto;
}

.locations.location {
  padding-top: 5px;
}

.location {
  width: 300px;
  padding: 10px;
  margin: 5px 20px;
  opacity: 1.0;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact {
  height: 200px;
}

h5 {
  display: block;
}

.footer {
  padding-left: 20px;
  text-align: left;
}
